<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Template</title>
</head>
<body>
    <h1>Hello, <%= username %>!</h1>
    <p>This is your email template content.</p>
    <a>Reset Password</a>
</body>
</html>